@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global*/
:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px !important;
  background: #fff !important;;
  max-width: 100%;
  color: #000 !important;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: 0px solid;
  background-color: transparent;
}

.negro {
  color: #000;
}

.negro-claro {
  color: #575756
}

.gris {
  color: var(--Textos, #717171);
}

.bg-gris {
  background-color: var(--Textos, #717171);
}

.bg-gris-claro{
  background-color: var(--Gris-Claro, #EAEAEA);
}

.blanco {
  color: var(--Blanco, #FFFFFF);
}

.azul {
  color: var(--Azul-Alternativa, #0556BF);
}

.bg-azul {
  background-color: var(--Azul-Alternativa, #0556BF);
}

.bg-azul-fb {
  background-color: var(--Azul-FB, #1E4483);
}

.bg-degradado-azul{
  background: linear-gradient(90deg,rgba(0, 92, 191, 1) 0%, rgba(5, 185, 250, 1) 50%, rgba(0, 92, 191, 1) 100%);
}

.inter-13{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.inter-16 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.inter-64 {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
/*End::Global*/

