@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global*/
:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-picker,
.ant-table {
    font-family: Inter !important; 
}

body {
  margin: 0px !important;
  background: #fff !important;;
  max-width: 100%;
  color: #000 !important;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: 0px solid;
  background-color: transparent;
}

.fondo {
  color: #F9F9F9;
}

.bg-fondo {
  background-color: #F9F9F9;
}

.blanco {
  color: #fff;
}

.bg-blanco {
  background-color: #fff;
}

.negro {
  color: #000;
}

.negro-claro {
  color: #575756;
}

.gris {
  color: var(--Textos, #717171);
}

.gris-oscuro{
  color: #3C3C3B;
}

.bg-gris {
  background-color: var(--Textos, #717171);
}

.gris2 {
  color: #B5B5B5;
}

.bg-gris2{
  background-color: #B5B5B5;
}

.gris-claro {
  color: #EAEAEA;
}

.bg-gris-claro{
  background-color: #EAEAEA;
}

.blanco {
  color: var(--Blanco, #FFFFFF);
}

.azul-alternativa {
  color: var(--Azul-Alternativa, #0556BF);
}

.bg-azul-alternativa {
  background-color: var(--Azul-Alternativa, #0556BF);
}

.azul-fb {
  color: var(--Azul-FB, #1E4483);
}

.bg-azul-fb {
  background-color: var(--Azul-FB, #1E4483);
}

.salmon {
  color: #EB6450;
}

.bg-salmon {
  background-color: #EB6450;
}

.morado {
  color: #752ED3;
}

.bg-morado {
  background-color: #752ED3;
}

.verde1 {
  color: #3ED7A7;
}

.bg-verde1 {
  background-color: #3ED7A7;
}

.verde2 {
  color: #00A370;
}

.bg-verde2 {
  background-color: #00A370;
}

.advertencia {
  color: #B9A24A;
}

.bg-advertencia {
  background-color: #B9A24A;
}

.advertencia2 {
  color: #DBC15E;
}

.bg-advertencia2 {
  background-color: #DBC15E;
}

.rojo {
  color: #CD001A;
}

.bg-rojo {
  background-color: #CD001A;
}

.textos-peques {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.textos {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

h1, .h1 {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

h2, .h2 {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

h3, .h3 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h4, .h4 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.textos-peques2 {
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}

.textos-peques2-bold {
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
}

.inter-11{
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
}

.inter-13 {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.inter-16{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.inter-18{
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.inter-20 {
  font-family: Inter;
  font-size: 20px;
  font-style: 600;
  font-weight: 600;
  line-height: 20px;
}

.inter-32 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.inter-40 {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
/*End::Global*/

/*Animaciones*/
@keyframes incres {
  0% {
    width: 0%;
  }

  100% {
    width: 32.7%;
  }
}

@keyframes decres {
  0% {
    width: 32.7%;
  }

  100% {
    width: 0%;
  }
}

.custom-confirm {
  animation: incres 0.5s ease-in-out forwards;
}

.custom-confirm.shrink {
  animation: decres 0.5s ease-in-out forwards;
}
/*End::Animaciones*/

.p-reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  width: 100%;
  margin: 0%;
  color: var(--Naranja, #cc3131);
  margin-bottom: 1%;
}

.p-reset.valid {
  color: #00e676;
  /* verde para condiciones válidas */
}

.p-reset.invalid {
  color: #cc3131;
  /* rojo para condiciones inválidas */
} 

/*Modals*/

.ant-modal .ant-modal-content{
  border-radius: 10px !important;
}

.ant-modal-close{
  display: none !important;
}

.ant-modal .ant-modal-header {
  display: none !important;
}

.ant-modal .ant-modal-footer{
  display: none !important;
}

.ant-modal-content:has(.office){
  width: 686px !important;
  height: 319px !important;
}

.ant-modal-content:has(.users){
  width: 686px;
  height: 650px;
}